In [1]:
import math
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
from glob import glob

In [2]:
df16 = [pd.read_csv(f) for f in glob('./surveys/2016/*.csv')]

In [3]:
df17 = [pd.read_csv(f) for f in glob('./surveys/2017/*.csv')]

In [4]:
len(df16)

40

In [5]:
len(df17)

1

In [6]:
df17 = df17[0]

In [7]:
df17.head(10)

    ID       Location           Track    Week Rating (Num)    Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1            3         Just right
1   36    Los Angeles            Apps  Week 1            4  A little too fast
2  117  San Francisco           Games  Week 1            4       Way too slow
3  253            NaN             NaN  Week 2            4  A little too fast
4  350  New York City  Apps, Explorer  Week 1            4         Just right
5   23   Redwood City            Apps  Week 1            5         Just right
6   28    Los Angeles            Apps  Week 7            5         Just right
7   65  San Francisco            Apps  Week 1            5  A little too slow
8  101    Santa Clara            Apps  Week 1            5  A little too slow
9  124    Santa Clara            Apps  Week 1            5         Just right

In [8]:
df16[0]

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,8/5/2016 1:39:41,3,3
1,8/5/2016 1:40:47,4,3
2,8/5/2016 1:40:50,4,3
3,8/5/2016 1:42:44,4,4
4,8/5/2016 1:45:13,5,4
5,8/5/2016 1:45:39,4,3
6,8/5/2016 1:49:21,4,3
7,8/8/2016 1:30:34,5,3
8,8/8/2016 1:33:45,5,3
9,8/8/2016 1:49:29,5,3
10,8/8/2016 1:51:00,3,3

In [9]:
temp = df16[0]
temp['Timestamp'][0]

'8/5/2016 1:39:41'

In [10]:
firstTimes = []
for dataframe in df16:
    try:
        firstTimes.append(dataframe['Timestamp'][0])
    except KeyError:
        continue
firstTimes.sort()
len(firstTimes)

37

In [11]:
switcher = {
 '6/23/2016 15:55:12': 'Los Angeles',
 '6/23/2016 22:24:53': 'Singapore',
 '6/24/2016 14:02:56': 'San Francisco',
 '6/24/2016 7:03:34': 'New York City',
 '6/30/2016 14:09:14': 'Los Angeles',
 '7/1/2016 13:27:56': 'Sunnyvale',
 '7/1/2016 16:35:14': 'San Francisco',
 '7/1/2016 5:41:15': 'Singapore',
 '7/1/2016 6:41:31': 'New York City',
 '7/15/2016 13:20:35': 'Los Angeles',
 '7/15/2016 13:30:19': 'Sunnyvale',
 '7/15/2016 15:26:38': 'San Francisco',
 '7/15/2016 2:45:00': 'Singapore',
 '7/15/2016 6:28:26': 'New York City',
 '7/21/2016 21:57:59': 'Hong Kong',
 '7/22/2016 12:52:43': 'Sunnyvale',
 '7/22/2016 13:29:33': 'New York City',
 '7/22/2016 16:15:37': 'Los Angeles',
 '7/22/2016 1:30:17': 'Singapore',
 '7/29/2016 0:19:08': 'Hong Kong',
 '7/29/2016 13:46:28': 'Sunnyvale',
 '7/29/2016 15:17:19': 'San Francisco',
 '7/29/2016 19:18:44': 'Singapore',
 '7/29/2016 1:07:23': 'Taipei',
 '7/29/2016 6:54:22': 'New York City',
 '7/31/2016 1:04:57': 'Tokyo',
 '7/31/2016 8:43:57': 'Los Angeles',
 '7/8/2016 10:31:27': 'Los Angeles',
 '7/8/2016 12:52:08': 'Sunnyvale',
 '7/8/2016 15:56:20': 'San Francisco',
 '7/8/2016 6:21:11': 'New York City',
 '7/8/2016 7:36:11': 'Singapore',
 '8/5/2016 11:13:01': 'San Francisco',
 '8/5/2016 11:22:50': 'Los Angeles',
 '8/5/2016 12:34:16': 'New York City',
 '8/5/2016 13:37:43': 'Sunnyvale',
 '8/5/2016 1:39:41': 'Taipei'
}

In [12]:
for dataframe in df16:
    try:
        time = dataframe['Timestamp'][0]
        dataframe['Location'] = switcher[time]
    except:
        continue
df16[0]

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?,Location
0,8/5/2016 1:39:41,3,3,Taipei
1,8/5/2016 1:40:47,4,3,Taipei
2,8/5/2016 1:40:50,4,3,Taipei
3,8/5/2016 1:42:44,4,4,Taipei
4,8/5/2016 1:45:13,5,4,Taipei
5,8/5/2016 1:45:39,4,3,Taipei
6,8/5/2016 1:49:21,4,3,Taipei
7,8/8/2016 1:30:34,5,3,Taipei
8,8/8/2016 1:33:45,5,3,Taipei
9,8/8/2016 1:49:29,5,3,Taipei
10,8/8/2016 1:51:00,3,3,Taipei

In [13]:
df16[0]

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?,Location
0,8/5/2016 1:39:41,3,3,Taipei
1,8/5/2016 1:40:47,4,3,Taipei
2,8/5/2016 1:40:50,4,3,Taipei
3,8/5/2016 1:42:44,4,4,Taipei
4,8/5/2016 1:45:13,5,4,Taipei
5,8/5/2016 1:45:39,4,3,Taipei
6,8/5/2016 1:49:21,4,3,Taipei
7,8/8/2016 1:30:34,5,3,Taipei
8,8/8/2016 1:33:45,5,3,Taipei
9,8/8/2016 1:49:29,5,3,Taipei
10,8/8/2016 1:51:00,3,3,Taipei

In [14]:
for dataframe in df16:
    dataframe['Year'] = 2016
    dataframe.rename(columns={'How would you rate your overall satisfaction with the Summer Academy this week?': 'Satisfaction',
                             'How well is the schedule paced?': 'Schedule Pacing',
                             'How likely is it that you would recommend the Make School Summer Academy to a friend?': 'Rating',
                             'location': 'Location',
                             'track': 'Track',
                             'What track are you in?': 'Track',
                             'How well are the tutorials paced?': 'Schedule Pacing'}, inplace=True)
df16[0]

           Timestamp  Satisfaction  Schedule Pacing Location  Year
0   8/5/2016 1:39:41             3                3   Taipei  2016
1   8/5/2016 1:40:47             4                3   Taipei  2016
2   8/5/2016 1:40:50             4                3   Taipei  2016
3   8/5/2016 1:42:44             4                4   Taipei  2016
4   8/5/2016 1:45:13             5                4   Taipei  2016
5   8/5/2016 1:45:39             4                3   Taipei  2016
6   8/5/2016 1:49:21             4                3   Taipei  2016
7   8/8/2016 1:30:34             5                3   Taipei  2016
8   8/8/2016 1:33:45             5                3   Taipei  2016
9   8/8/2016 1:49:29             5                3   Taipei  2016
10  8/8/2016 1:51:00             3                3   Taipei  2016

In [15]:
df17['Year'] = 2017

In [16]:
weekSwitcher = {
 '6/23/2016 15:55:12': 1,
 '6/23/2016 22:24:53': 1,
 '6/24/2016 14:02:56': 1,
 '6/24/2016 7:03:34': 1,
 '6/30/2016 14:09:14': 1,
 '7/1/2016 13:27:56': 2,
 '7/1/2016 16:35:14': 2,
 '7/1/2016 5:41:15': 2,
 '7/1/2016 6:41:31': 2,
 '7/15/2016 13:20:35': 4,
 '7/15/2016 13:30:19': 4,
 '7/15/2016 15:26:38': 4,
 '7/15/2016 2:45:00': 4,
 '7/15/2016 6:28:26': 4,
 '7/21/2016 21:57:59': 5,
 '7/22/2016 12:52:43': 5,
 '7/22/2016 13:29:33': 5,
 '7/22/2016 16:15:37': 5,
 '7/22/2016 1:30:17': 5,
 '7/29/2016 0:19:08': 6,
 '7/29/2016 13:46:28': 6,
 '7/29/2016 15:17:19': 6,
 '7/29/2016 19:18:44': 6,
 '7/29/2016 1:07:23': 6,
 '7/29/2016 6:54:22': 6,
 '7/31/2016 1:04:57': 6,
 '7/31/2016 8:43:57': 6,
 '7/8/2016 10:31:27': 3,
 '7/8/2016 12:52:08': 3,
 '7/8/2016 15:56:20': 3,
 '7/8/2016 6:21:11': 3,
 '7/8/2016 7:36:11': 3,
 '8/5/2016 11:13:01': 7,
 '8/5/2016 11:22:50': 7,
 '8/5/2016 12:34:16': 7,
 '8/5/2016 13:37:43': 7,
 '8/5/2016 1:39:41': 7
}

In [17]:
for dataframe in df16:
    try:
        time = dataframe['Timestamp'][0]
        dataframe['Week'] = weekSwitcher[time]
    except:
        continue
df16[0]

           Timestamp  Satisfaction  Schedule Pacing Location  Year  Week
0   8/5/2016 1:39:41             3                3   Taipei  2016     7
1   8/5/2016 1:40:47             4                3   Taipei  2016     7
2   8/5/2016 1:40:50             4                3   Taipei  2016     7
3   8/5/2016 1:42:44             4                4   Taipei  2016     7
4   8/5/2016 1:45:13             5                4   Taipei  2016     7
5   8/5/2016 1:45:39             4                3   Taipei  2016     7
6   8/5/2016 1:49:21             4                3   Taipei  2016     7
7   8/8/2016 1:30:34             5                3   Taipei  2016     7
8   8/8/2016 1:33:45             5                3   Taipei  2016     7
9   8/8/2016 1:49:29             5                3   Taipei  2016     7
10  8/8/2016 1:51:00             3                3   Taipei  2016     7

In [18]:
outliers = []
for index in range(len(df16)):
    frame = df16[index]
    try:
        times = frame['Timestamp']
    except:
        outliers.append(index)
        continue
outliers

[14, 18, 21]

In [19]:
df16[21]['Location'] = 'Sunnyvale'
df16[21]['Week'] = 1
df16[21]

,Unnamed: 0,Track,Satisfaction,Schedule Pacing,Year,Location,Week
0,6/24/2016 13:32:01,Games,2,4,2016,Sunnyvale,1
1,6/24/2016 13:48:09,Apps,3,4,2016,Sunnyvale,1
2,6/24/2016 13:49:23,Apps,3,3,2016,Sunnyvale,1
3,6/24/2016 13:53:25,Apps,3,5,2016,Sunnyvale,1
4,6/24/2016 13:55:19,Apps,3,3,2016,Sunnyvale,1
5,6/24/2016 13:41:53,Games,3,3,2016,Sunnyvale,1
6,6/24/2016 13:46:23,Apps,4,4,2016,Sunnyvale,1
7,6/24/2016 13:46:42,Apps,4,3,2016,Sunnyvale,1
8,6/24/2016 13:47:24,Apps,4,3,2016,Sunnyvale,1
9,6/24/2016 13:47:25,Apps,4,4,2016,Sunnyvale,1
10,6/24/2016 13:47:36,Apps,4,3,2016,Sunnyvale,1
11,6/24/2016 13:48:00,Apps,4,4,2016,Sunnyvale,1
12,6/24/2016 13:48:29,Apps,4,4,2016,Sunnyvale,1
13,6/24/2016 13:48:48,Apps,4,3,2016,Sunnyvale,1
14,6/24/2016 13:49:35,Apps,4,4,2016,Sunnyvale,1
15,6/24/2016 13:50:37,Apps,4,3,2016,Sunnyvale,1
16,6/24/2016 13:51:11,Apps,4,4,2016,Sunnyvale,1
17,6/24/2016 13:51:13,Apps,4,4,2016,Sunnyvale,1
18,6/24/2016 13:52:06,Apps,4,3,2016,Sunnyvale,1
19,6/24/2016 13:52:21,Apps,4,3,2016,Sunnyvale,1
20,6/24/2016 13:52:50,Apps,4,5,2016,Sunnyvale,1
21,6/24/2016 13:53:03,Apps,4,3,2016,Sunnyvale,1
22,6/24/2016 13:55:00,Apps,4,3,2016,Sunnyvale,1
23,6/24/2016 13:59:24,Apps,4,3,2016,Sunnyvale,1
24,6/24/2016 13:28:35,Games,4,4,2016,Sunnyvale,1
25,6/24/2016 13:31:45,Games,4,4,2016,Sunnyvale,1
26,6/24/2016 13:32:49,Games,4,4,2016,Sunnyvale,1
27,6/24/2016 13:34:57,Games,4,3,2016,Sunnyvale,1
28,6/24/2016 13:39:47,Games,4,4,2016,Sunnyvale,1
29,6/24/2016 13:45:39,Games,4,3,2016,Sunnyvale,1
...,...,...,...,...,...,...,...
32,6/24/2016 14:12:35,Games,4,4,2016,Sunnyvale,1
33,6/24/2016 13:44:44,Intro,4,4,2016,Sunnyvale,1
34,6/24/2016 13:45:54,Intro,4,3,2016,Sunnyvale,1
35,6/24/2016 13:49:54,Intro,4,4,2016,Sunnyvale,1
36,6/24/2016 13:50:04,Intro,4,3,2016,Sunnyvale,1
37,6/24/2016 13:50:19,Intro,4,4,2016,Sunnyvale,1
38,6/24/2016 13:51:46,Intro,4,3,2016,Sunnyvale,1
39,6/24/2016 13:53:22,Intro,4,3,2016,Sunnyvale,1
40,6/24/2016 13:55:06,Intro,4,3,2016,Sunnyvale,1
41,6/24/2016 13:47:09,Apps,5,3,2016,Sunnyvale,1
42,6/24/2016 13:47:20,Apps,5,3,2016,Sunnyvale,1
43,6/24/2016 13:47:25,Apps,5,3,2016,Sunnyvale,1
44,6/24/2016 13:49:23,Apps,5,3,2016,Sunnyvale,1
45,6/24/2016 13:50:25,Apps,5,3,2016,Sunnyvale,1
46,6/24/2016 13:50:34,Apps,5,3,2016,Sunnyvale,1
47,6/24/2016 13:50:54,Apps,5,4,2016,Sunnyvale,1
48,6/24/2016 13:51:20,Apps,5,4,2016,Sunnyvale,1
49,6/24/2016 13:53:34,Apps,5,3,2016,Sunnyvale,1
50,6/24/2016 13:54:13,Apps,5,4,2016,Sunnyvale,1
51,6/24/2016 13:54:38,Apps,5,4,2016,Sunnyvale,1
52,6/24/2016 13:30:55,Games,5,4,2016,Sunnyvale,1
53,6/24/2016 13:33:00,Games,5,2,2016,Sunnyvale,1
54,6/24/2016 13:34:13,Games,5,3,2016,Sunnyvale,1
55,6/24/2016 14:05:25,Games,5,4,2016,Sunnyvale,1
56,6/24/2016 13:44:05,Intro,5,3,2016,Sunnyvale,1
57,6/24/2016 13:45:50,Intro,5,2,2016,Sunnyvale,1
58,6/24/2016 13:47:01,Intro,5,3,2016,Sunnyvale,1
59,6/24/2016 13:49:01,Intro,5,3,2016,Sunnyvale,1
60,6/24/2016 13:49:44,Intro,5,3,2016,Sunnyvale,1
61,6/24/2016 13:50:23,Intro,5,3,2016,Sunnyvale,1

In [20]:
df16[14]['Location'] = 'San Francisco'
df16[14]['Week'] = 5
df16[14]

    Track  Satisfaction  Schedule Pacing  Year       Location  Week
0    Apps             3                3  2016  San Francisco     5
1    Apps             4                3  2016  San Francisco     5
2    Apps             4                3  2016  San Francisco     5
3    Apps             4                4  2016  San Francisco     5
4    Apps             3                3  2016  San Francisco     5
5    Apps             5                3  2016  San Francisco     5
6    Apps             3                2  2016  San Francisco     5
7    Apps             5                3  2016  San Francisco     5
8    Apps             1                3  2016  San Francisco     5
9    Apps             4                3  2016  San Francisco     5
10   Apps             5                3  2016  San Francisco     5
11   Apps             4                4  2016  San Francisco     5
12   Apps             3                4  2016  San Francisco     5
13  Games             4                3  2016  San Francisco     5
14  Games             5                3  2016  San Francisco     5
15  Games             1                5  2016  San Francisco     5
16  Games             5                3  2016  San Francisco     5
17  Games             4                3  2016  San Francisco     5
18  Games             5                3  2016  San Francisco     5
19  Intro             5                2  2016  San Francisco     5
20  Intro             4                3  2016  San Francisco     5
21  Intro             3                5  2016  San Francisco     5
22  Intro             5                3  2016  San Francisco     5
23  Intro             5                4  2016  San Francisco     5
24  Intro             5                3  2016  San Francisco     5
25  Intro             5                3  2016  San Francisco     5
26  Intro             5                3  2016  San Francisco     5
27  Intro             5                2  2016  San Francisco     5
28  Intro             5                3  2016  San Francisco     5
29  Intro             5                3  2016  San Francisco     5
30  Intro             4                3  2016  San Francisco     5
31  Intro             5                3  2016  San Francisco     5
32  Intro             5                3  2016  San Francisco     5
33  Intro             4                4  2016  San Francisco     5
34  Intro             5                3  2016  San Francisco     5
35  Intro             5                3  2016  San Francisco     5
36     VR             5                4  2016  San Francisco     5
37     VR             5                4  2016  San Francisco     5
38     VR             4                4  2016  San Francisco     5
39     VR             5                3  2016  San Francisco     5
40  Intro             3                3  2016  San Francisco     5
41  Intro             3                3  2016  San Francisco     5

In [21]:
df16week8 = df16[18].copy()
del df16[18]
len(df16)

39

In [22]:
df16week8

,#,Rating,Location,Track,Start Date (UTC),Submit Date (UTC),Network ID,Year
0,00b836bda84e6bdbe780af97e249e59f,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04,3212b7a834,2016
1,39dde6dc0e1e375845d756fc7e39fc5f,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04,f4954355aa,2016
2,5e56b9de91670b308cb98dd2848b8739,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05,3d69ca289b,2016
3,641081d05785b47a0f17448625da0d49,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06,261608f95d,2016
4,c29bdd4f5678d78b450f4494e0f53c8c,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11,d6672ddf6f,2016
5,9030d8a662b39b519b2b685834413d66,10,San Francisco,summerApps,9/7/16 1:09,9/7/16 1:13,088e6f938d,2016
6,1c07190c7caa72bf6b59cea48e1a4a97,8,San Francisco,summerApps,9/7/16 1:04,9/7/16 1:14,00f1d07a90,2016
7,27a63d6c24710feb52c0cfdef7e01175,3,New York,summerGames,9/7/16 1:14,9/7/16 1:15,e0724aac23,2016
8,b47b95f84547d8347119de1da5faa46d,6,Singapore,summerApps,9/7/16 1:16,9/7/16 1:21,9eeec0f9bf,2016
9,828fafa477484f61d2ca5930fe99ad46,9,New York,summerGames,9/7/16 1:22,9/7/16 1:27,6c80fd2754,2016
10,7d70f1e30217d867f3c0f961462d8ae8,10,Sunnyvale,summerGames,9/7/16 1:28,9/7/16 1:29,6c04cd1a6e,2016
11,65bd071ab808290560e7d11c09f56796,10,San Francisco,summerVR,9/7/16 1:22,9/7/16 1:33,82eadbe830,2016
12,d66976d012b4c8a5c708f1a438605488,8,San Francisco,summerIntro,9/7/16 1:30,9/7/16 1:36,ccea45b0f4,2016
13,9db748a8e0d5789cb3a5fcb27fc59083,8,Sunnyvale,summerApps,9/7/16 1:47,9/7/16 1:50,9e894113e2,2016
14,5ee2a5d8e87fd5790906f7b004963e14,8,Los Angeles,summerGames,9/7/16 1:34,9/7/16 1:51,7a61b16f29,2016
15,9826290f1bf2fd4c105857e2af933ffe,10,San Francisco,summerApps,9/7/16 2:28,9/7/16 2:33,55641e8ccb,2016
16,ea85e7c699751b5993776ef16db0b1d9,9,Sunnyvale,summerGames,9/7/16 2:39,9/7/16 2:41,125a8466ea,2016
17,58cb61ce774b116d87e3888d4c1babf1,10,New York,summerGames,9/7/16 2:39,9/7/16 2:43,9f88839991,2016
18,a08ef61cfa87d1ba00c691de4a55f4c2,7,Singapore,summerApps,9/7/16 2:47,9/7/16 2:50,bd06f31b2a,2016
19,630fd265cdb8308b60b4b59351690f0a,10,San Francisco,summerIntro,9/7/16 2:56,9/7/16 2:56,7f24478045,2016
20,2f7303a7ac0943b341d02678b085688e,10,San Francisco,summerApps,9/7/16 2:58,9/7/16 2:59,32fdf4fca0,2016
21,785568c94d73aa0fad4493ee79fa3974,10,Sunnyvale,summerGames,9/7/16 2:59,9/7/16 3:01,ffbbd84b0e,2016
22,fe02b118aea0ef15ccd06e6f7e6209f4,4,New York,summerIntro,9/7/16 3:05,9/7/16 3:08,9dbeedfbf5,2016
23,6e2c750a71613e3fd7d5f425320cc750,9,San Francisco,summerGames,9/7/16 3:22,9/7/16 3:31,19a8645313,2016
24,522ff7a7546272c3c98eab026e8c098a,10,Sunnyvale,summerGames,9/7/16 3:15,9/7/16 3:31,42560fe8ea,2016
25,80fce9f8822690ad581ff8d554e6f629,9,Sunnyvale,summerApps,9/7/16 3:41,9/7/16 3:42,b194ad4477,2016
26,e78c696358f9c59b0375884ab9217f70,10,San Francisco,summerIntro,9/7/16 4:04,9/7/16 4:05,f8ef38e4e3,2016
27,4885e461415138a403fb0408a8060094,10,Sunnyvale,summerApps,9/7/16 4:07,9/7/16 4:10,06674df051,2016
28,bb261d3e5b4fe2197f54f28c416948e1,7,Sunnyvale,summerGames,9/7/16 4:20,9/7/16 4:21,66eb19a8df,2016
29,391157a49dc832edb535b3c6ee3dd6a0,10,San Francisco,summerGames,9/7/16 5:41,9/7/16 5:43,c94ee250b6,2016
...,...,...,...,...,...,...,...,...
35,fa299e5db39696d38eafd4ae6e71aebb,9,Singapore,summerApps,9/7/16 12:26,9/7/16 12:26,58089eb896,2016
36,35d559a3756563f795c0e9e81299695e,10,San Francisco,summerApps,9/7/16 12:45,9/7/16 12:48,0b7b124ce3,2016
37,2a42f27c8a19a165f37439cfd9fed33d,10,New York,summerIntro,9/7/16 13:09,9/7/16 13:10,32c6661877,2016
38,1e19d356f6f8eac878413ec736e46da8,9,San Francisco,summerApps (4-week),9/7/16 14:39,9/7/16 14:40,75a5cf3cee,2016
39,a8497fc472b7a09ac6e16e658851d652,10,New York,summerApps,9/7/16 14:52,9/7/16 14:54,5a977a012b,2016
40,3208a7393ff3fd3c67fae17c8e48db37,8,Sunnyvale,summerApps,9/7/16 15:57,9/7/16 15:58,20eafecabd,2016
41,45d7a66a67ee79f5c9ffa6d6abb1b307,10,San Francisco,summerApps,9/7/16 17:11,9/7/16 17:21,e474841bba,2016
42,964e2d8e91a04b8735e73aafedb54541,9,San Francisco,summerVR,9/7/16 19:13,9/7/16 19:25,ae112590e9,2016
43,e8780f8e3d0026549c276135fd9569ef,7,New York,summerApps (4-week),9/7/16 19:23,9/7/16 19:26,a578e4964d,2016
44,864ff3fc8e19d27f3d4c46eb4b304d35,10,San Francisco,summerApps,9/7/16 19:39,9/7/16 19:40,573a652ffb,2016
45,c2bc67325eb91085f3686aabf309d801,10,Los Angeles,summerGames,9/7/16 19:51,9/7/16 19:57,cadcc3e368,2016
46,fd802ce8e43aa9deade38c108298dbaf,10,Sunnyvale,summerIntro,9/7/16 23:58,9/8/16 0:00,9ba33ad0f9,2016
47,ac671896bf86167dc073c3f52131fe70,8,New York,summerApps,9/8/16 0:50,9/8/16 0:58,1b349a7cce,2016
48,143652af47062192767081ff1dd630cc,10,San Francisco,summerGames,9/8/16 1:55,9/8/16 1:59,94f319072c,2016
49,f4a5aed1cad9367cc58744706de54a1b,7,Sunnyvale,summerApps,9/8/16 5:59,9/8/16 6:04,9f09067d6a,2016
50,3c3495614eada68b5fa8e19377e1cccd,10,Los Angeles,summerGames (4-week),9/8/16 14:25,9/8/16 14:27,89b8894183,2016
51,8e2309e3a1ba2a5630ea251b96712a9a,8,San Francisco,summerGames,9/8/16 22:00,9/8/16 22:06,01074776b4,2016
52,44db66e47441ecd2c88dbe5dd3a38e1e,8,New York,summerApps,9/8/16 22:16,9/8/16 22:20,11c95dc87f,2016
53,80f3d539b648cfaf92b45699e7a0545b,10,San Francisco,summerApps,9/8/16 23:06,9/8/16 23:07,0d6873c5ed,2016
54,60343ca18c43feedab8481e25421484d,7,San Francisco,summerApps,9/8/16 23:01,9/8/16 23:11,8a13f23e89,2016
55,5c99e0aac4efe9eecffd83e50ec7c8db,7,San Francisco,summerIntro,9/9/16 1:41,9/9/16 1:42,830f174273,2016
56,022d99be229f86182ca1c2bc49aa2e09,10,San Francisco,summerIntro,9/9/16 4:22,9/9/16 4:25,9fc69673bd,2016
57,5a83e1056e30a8596056bec5c050a86d,9,San Francisco,summerApps,9/9/16 11:06,9/9/16 11:09,6d5dece18c,2016
58,50f1c0545d9cef1c10be657e1083990d,10,New York,summerGames,9/9/16 13:24,9/9/16 13:28,f7f5617754,2016
59,22ac2ab300a76178ce53104d03408c8a,8,San Francisco,summerGames,9/10/16 22:28,9/10/16 22:30,9500d5b989,2016
60,2d487d890a68bbdb70dd027bc1e501bb,9,San Francisco,summerApps,9/12/16 0:05,9/12/16 0:13,fe650b21f7,2016
61,0cdf8eced1b8791ae536797c75751b25,5,San Francisco,summerVR,9/13/16 4:36,9/13/16 4:42,a7deda5bf5,2016
62,d353c2cdff6bcf3e932579a5647d511a,10,San Francisco,summerGames (4-week),9/7/16 5:08,9/13/16 20:13,a3e21d76e3,2016
63,f5716831fe432cef5da980038f2f8969,9,San Francisco,summerIntro,9/14/16 12:04,9/14/16 12:10,843b902fa2,2016
64,951e9361c4da1756ae1c6fb2612cb9dd,9,Sunnyvale,summerGames,9/26/16 16:33,9/26/16 16:34,a2863e199d,2016

In [23]:
df16week8 = df16week8.drop('#', axis=1)
df16week8 = df16week8.drop('Start Date (UTC)', axis=1)
df16week8 = df16week8.drop('Submit Date (UTC)', axis=1)
df16week8 = df16week8.drop('Network ID', axis=1)

In [24]:
df16week8

    Rating       Location                 Track  Year
0       10       New York            summerApps  2016
1       10  San Francisco           summerIntro  2016
2       10       New York           summerIntro  2016
3        9      Sunnyvale   summerApps (4-week)  2016
4        3  San Francisco           summerIntro  2016
5       10  San Francisco            summerApps  2016
6        8  San Francisco            summerApps  2016
7        3       New York           summerGames  2016
8        6      Singapore            summerApps  2016
9        9       New York           summerGames  2016
10      10      Sunnyvale           summerGames  2016
11      10  San Francisco              summerVR  2016
12       8  San Francisco           summerIntro  2016
13       8      Sunnyvale            summerApps  2016
14       8    Los Angeles           summerGames  2016
15      10  San Francisco            summerApps  2016
16       9      Sunnyvale           summerGames  2016
17      10       New York           summerGames  2016
18       7      Singapore            summerApps  2016
19      10  San Francisco           summerIntro  2016
20      10  San Francisco            summerApps  2016
21      10      Sunnyvale           summerGames  2016
22       4       New York           summerIntro  2016
23       9  San Francisco           summerGames  2016
24      10      Sunnyvale           summerGames  2016
25       9      Sunnyvale            summerApps  2016
26      10  San Francisco           summerIntro  2016
27      10      Sunnyvale            summerApps  2016
28       7      Sunnyvale           summerGames  2016
29      10  San Francisco           summerGames  2016
..     ...            ...                   ...   ...
35       9      Singapore            summerApps  2016
36      10  San Francisco            summerApps  2016
37      10       New York           summerIntro  2016
38       9  San Francisco   summerApps (4-week)  2016
39      10       New York            summerApps  2016
40       8      Sunnyvale            summerApps  2016
41      10  San Francisco            summerApps  2016
42       9  San Francisco              summerVR  2016
43       7       New York   summerApps (4-week)  2016
44      10  San Francisco            summerApps  2016
45      10    Los Angeles           summerGames  2016
46      10      Sunnyvale           summerIntro  2016
47       8       New York            summerApps  2016
48      10  San Francisco           summerGames  2016
49       7      Sunnyvale            summerApps  2016
50      10    Los Angeles  summerGames (4-week)  2016
51       8  San Francisco           summerGames  2016
52       8       New York            summerApps  2016
53      10  San Francisco            summerApps  2016
54       7  San Francisco            summerApps  2016
55       7  San Francisco           summerIntro  2016
56      10  San Francisco           summerIntro  2016
57       9  San Francisco            summerApps  2016
58      10       New York           summerGames  2016
59       8  San Francisco           summerGames  2016
60       9  San Francisco            summerApps  2016
61       5  San Francisco              summerVR  2016
62      10  San Francisco  summerGames (4-week)  2016
63       9  San Francisco           summerIntro  2016
64       9      Sunnyvale           summerGames  2016

[65 rows x 4 columns]

In [25]:
df16week8['Week'] = 8
df16week8

    Rating       Location                 Track  Year  Week
0       10       New York            summerApps  2016     8
1       10  San Francisco           summerIntro  2016     8
2       10       New York           summerIntro  2016     8
3        9      Sunnyvale   summerApps (4-week)  2016     8
4        3  San Francisco           summerIntro  2016     8
5       10  San Francisco            summerApps  2016     8
6        8  San Francisco            summerApps  2016     8
7        3       New York           summerGames  2016     8
8        6      Singapore            summerApps  2016     8
9        9       New York           summerGames  2016     8
10      10      Sunnyvale           summerGames  2016     8
11      10  San Francisco              summerVR  2016     8
12       8  San Francisco           summerIntro  2016     8
13       8      Sunnyvale            summerApps  2016     8
14       8    Los Angeles           summerGames  2016     8
15      10  San Francisco            summerApps  2016     8
16       9      Sunnyvale           summerGames  2016     8
17      10       New York           summerGames  2016     8
18       7      Singapore            summerApps  2016     8
19      10  San Francisco           summerIntro  2016     8
20      10  San Francisco            summerApps  2016     8
21      10      Sunnyvale           summerGames  2016     8
22       4       New York           summerIntro  2016     8
23       9  San Francisco           summerGames  2016     8
24      10      Sunnyvale           summerGames  2016     8
25       9      Sunnyvale            summerApps  2016     8
26      10  San Francisco           summerIntro  2016     8
27      10      Sunnyvale            summerApps  2016     8
28       7      Sunnyvale           summerGames  2016     8
29      10  San Francisco           summerGames  2016     8
..     ...            ...                   ...   ...   ...
35       9      Singapore            summerApps  2016     8
36      10  San Francisco            summerApps  2016     8
37      10       New York           summerIntro  2016     8
38       9  San Francisco   summerApps (4-week)  2016     8
39      10       New York            summerApps  2016     8
40       8      Sunnyvale            summerApps  2016     8
41      10  San Francisco            summerApps  2016     8
42       9  San Francisco              summerVR  2016     8
43       7       New York   summerApps (4-week)  2016     8
44      10  San Francisco            summerApps  2016     8
45      10    Los Angeles           summerGames  2016     8
46      10      Sunnyvale           summerIntro  2016     8
47       8       New York            summerApps  2016     8
48      10  San Francisco           summerGames  2016     8
49       7      Sunnyvale            summerApps  2016     8
50      10    Los Angeles  summerGames (4-week)  2016     8
51       8  San Francisco           summerGames  2016     8
52       8       New York            summerApps  2016     8
53      10  San Francisco            summerApps  2016     8
54       7  San Francisco            summerApps  2016     8
55       7  San Francisco           summerIntro  2016     8
56      10  San Francisco           summerIntro  2016     8
57       9  San Francisco            summerApps  2016     8
58      10       New York           summerGames  2016     8
59       8  San Francisco           summerGames  2016     8
60       9  San Francisco            summerApps  2016     8
61       5  San Francisco              summerVR  2016     8
62      10  San Francisco  summerGames (4-week)  2016     8
63       9  San Francisco           summerIntro  2016     8
64       9      Sunnyvale           summerGames  2016     8

[65 rows x 5 columns]

In [26]:
df17 = df17.drop('ID', axis=1)
df17.rename(columns={'Rating (Num)': 'Rating'}, inplace=True)
df17

           Location            Track    Week Rating    Schedule Pacing  Year
0     San Francisco   Apps, Explorer  Week 1      3         Just right  2017
1       Los Angeles             Apps  Week 1      4  A little too fast  2017
2     San Francisco            Games  Week 1      4       Way too slow  2017
3               NaN              NaN  Week 2      4  A little too fast  2017
4     New York City   Apps, Explorer  Week 1      4         Just right  2017
5      Redwood City             Apps  Week 1      5         Just right  2017
6       Los Angeles             Apps  Week 7      5         Just right  2017
7     San Francisco             Apps  Week 1      5  A little too slow  2017
8       Santa Clara             Apps  Week 1      5  A little too slow  2017
9       Santa Clara             Apps  Week 1      5         Just right  2017
10     Redwood City             Apps  Week 2      5         Just right  2017
11          Oakland             Apps  Week 2      5         Just right  2017
12    San Francisco             Apps  Week 2      5       Way too fast  2017
13    Washington DC             Apps  Week 1      5         Just right  2017
14    Washington DC   Apps, Explorer  Week 1      5  A little too slow  2017
15              NaN              NaN  Week 3      5  A little too slow  2017
16     Redwood City             Apps  Week 3      5         Just right  2017
17    New York City             Apps  Week 1      5  A little too slow  2017
18    San Francisco   Apps, Explorer  Week 3      5         Just right  2017
19      Santa Clara             Apps  Week 3      5         Just right  2017
20      Los Angeles            Games  Week 1      6         Just right  2017
21          Chicago   Apps, Explorer  Week 1      6         Just right  2017
22          Chicago             Apps  Week 1      6  A little too slow  2017
23          Chicago             Apps  Week 1      6  A little too slow  2017
24    San Francisco             Apps  Week 1      6  A little too fast  2017
25    San Francisco             Apps  Week 1      6  A little too fast  2017
26    San Francisco   Apps, Explorer  Week 1      6         Just right  2017
27      Santa Clara             Apps  Week 2      6         Just right  2017
28    San Francisco   Apps, Explorer  Week 2      6         Just right  2017
29    San Francisco             Apps  Week 2      6       Way too fast  2017
...             ...              ...     ...    ...                ...   ...
1423  New York City            Games  Week 7     10         Just right  2017
1424  New York City             Apps  Week 7      8         Just right  2017
1425  New York City            Games  Week 7      9         Just right  2017
1426  New York City  Games, Explorer  Week 7     10         Just right  2017
1427  New York City            Games  Week 7      9         Just right  2017
1428  New York City             Apps  Week 7      9         Just right  2017
1429  New York City             Apps  Week 7      8  A little too fast  2017
1430  New York City            Games  Week 7     10         Just right  2017
1431  New York City             Apps  Week 7     10         Just right  2017
1432  New York City            Games  Week 7      9         Just right  2017
1433  New York City             Apps  Week 7      9         Just right  2017
1434  New York City             Apps  Week 7     10         Just right  2017
1435  New York City             Apps  Week 7      8         Just right  2017
1436  New York City             Apps  Week 7      7  A little too fast  2017
1437  New York City   Apps, Explorer  Week 7      7       Way too fast  2017
1438  New York City             Apps  Week 7      7         Just right  2017
1439  New York City             Apps  Week 7      9         Just right  2017
1440  New York City             Apps  Week 7      8         Just right  2017
1441  New York City  Games, Explorer  Week 7      7         Just right  2017
1442  New York City   Apps, Explorer  Week 7     10         Just right  2017
1443  New York City   Apps, Explorer  Week 7     10         Just right  2017
1444  New York City            Games  Week 7      9  A little too fast  2017
1445  New York City             Apps  Week 7      9         Just right  2017
1446  New York City             Apps  Week 7      3         Just right  2017
1447  New York City  Games, Explorer  Week 7     10         Just right  2017
1448  New York City   Apps, Explorer  Week 7     10         Just right  2017
1449  New York City   Apps, Explorer  Week 7      8         Just right  2017
1450  New York City             Apps  Week 7     10         Just right  2017
1451  New York City   Apps, Explorer  Week 7      1  A little too slow  2017
1452  New York City             Apps  Week 5      8         Just right  2017

[1453 rows x 6 columns]

In [27]:
def parseWeek(entry):
    weekNumber = entry.lstrip('Week ')
    return int(weekNumber)

df17['Week'] = df17['Week'].map(lambda week: parseWeek(week))
df17.head()

        Location           Track  Week Rating    Schedule Pacing  Year
0  San Francisco  Apps, Explorer     1      3         Just right  2017
1    Los Angeles            Apps     1      4  A little too fast  2017
2  San Francisco           Games     1      4       Way too slow  2017
3            NaN             NaN     2      4  A little too fast  2017
4  New York City  Apps, Explorer     1      4         Just right  2017

In [28]:
df17

           Location            Track  Week Rating    Schedule Pacing  Year
0     San Francisco   Apps, Explorer     1      3         Just right  2017
1       Los Angeles             Apps     1      4  A little too fast  2017
2     San Francisco            Games     1      4       Way too slow  2017
3               NaN              NaN     2      4  A little too fast  2017
4     New York City   Apps, Explorer     1      4         Just right  2017
5      Redwood City             Apps     1      5         Just right  2017
6       Los Angeles             Apps     7      5         Just right  2017
7     San Francisco             Apps     1      5  A little too slow  2017
8       Santa Clara             Apps     1      5  A little too slow  2017
9       Santa Clara             Apps     1      5         Just right  2017
10     Redwood City             Apps     2      5         Just right  2017
11          Oakland             Apps     2      5         Just right  2017
12    San Francisco             Apps     2      5       Way too fast  2017
13    Washington DC             Apps     1      5         Just right  2017
14    Washington DC   Apps, Explorer     1      5  A little too slow  2017
15              NaN              NaN     3      5  A little too slow  2017
16     Redwood City             Apps     3      5         Just right  2017
17    New York City             Apps     1      5  A little too slow  2017
18    San Francisco   Apps, Explorer     3      5         Just right  2017
19      Santa Clara             Apps     3      5         Just right  2017
20      Los Angeles            Games     1      6         Just right  2017
21          Chicago   Apps, Explorer     1      6         Just right  2017
22          Chicago             Apps     1      6  A little too slow  2017
23          Chicago             Apps     1      6  A little too slow  2017
24    San Francisco             Apps     1      6  A little too fast  2017
25    San Francisco             Apps     1      6  A little too fast  2017
26    San Francisco   Apps, Explorer     1      6         Just right  2017
27      Santa Clara             Apps     2      6         Just right  2017
28    San Francisco   Apps, Explorer     2      6         Just right  2017
29    San Francisco             Apps     2      6       Way too fast  2017
...             ...              ...   ...    ...                ...   ...
1423  New York City            Games     7     10         Just right  2017
1424  New York City             Apps     7      8         Just right  2017
1425  New York City            Games     7      9         Just right  2017
1426  New York City  Games, Explorer     7     10         Just right  2017
1427  New York City            Games     7      9         Just right  2017
1428  New York City             Apps     7      9         Just right  2017
1429  New York City             Apps     7      8  A little too fast  2017
1430  New York City            Games     7     10         Just right  2017
1431  New York City             Apps     7     10         Just right  2017
1432  New York City            Games     7      9         Just right  2017
1433  New York City             Apps     7      9         Just right  2017
1434  New York City             Apps     7     10         Just right  2017
1435  New York City             Apps     7      8         Just right  2017
1436  New York City             Apps     7      7  A little too fast  2017
1437  New York City   Apps, Explorer     7      7       Way too fast  2017
1438  New York City             Apps     7      7         Just right  2017
1439  New York City             Apps     7      9         Just right  2017
1440  New York City             Apps     7      8         Just right  2017
1441  New York City  Games, Explorer     7      7         Just right  2017
1442  New York City   Apps, Explorer     7     10         Just right  2017
1443  New York City   Apps, Explorer     7     10         Just right  2017
1444  New York City            Games     7      9  A little too fast  2017
1445  New York City             Apps     7      9         Just right  2017
1446  New York City             Apps     7      3         Just right  2017
1447  New York City  Games, Explorer     7     10         Just right  2017
1448  New York City   Apps, Explorer     7     10         Just right  2017
1449  New York City   Apps, Explorer     7      8         Just right  2017
1450  New York City             Apps     7     10         Just right  2017
1451  New York City   Apps, Explorer     7      1  A little too slow  2017
1452  New York City             Apps     5      8         Just right  2017

[1453 rows x 6 columns]

In [29]:
the_weird_one = []
for index in range(len(df16)):
    dataframe = df16[index]
    try:
        dataframe = dataframe.drop('Timestamp', axis=1)
        df16[index] = dataframe
    except:
        the_weird_one.append(index)
        continue
the_weird_one

[14, 20]

In [30]:
df16[20] = df16[20].drop('Unnamed: 0', axis=1)
df16[20]

    Track  Satisfaction  Schedule Pacing  Year   Location  Week
0   Games             2                4  2016  Sunnyvale     1
1    Apps             3                4  2016  Sunnyvale     1
2    Apps             3                3  2016  Sunnyvale     1
3    Apps             3                5  2016  Sunnyvale     1
4    Apps             3                3  2016  Sunnyvale     1
5   Games             3                3  2016  Sunnyvale     1
6    Apps             4                4  2016  Sunnyvale     1
7    Apps             4                3  2016  Sunnyvale     1
8    Apps             4                3  2016  Sunnyvale     1
9    Apps             4                4  2016  Sunnyvale     1
10   Apps             4                3  2016  Sunnyvale     1
11   Apps             4                4  2016  Sunnyvale     1
12   Apps             4                4  2016  Sunnyvale     1
13   Apps             4                3  2016  Sunnyvale     1
14   Apps             4                4  2016  Sunnyvale     1
15   Apps             4                3  2016  Sunnyvale     1
16   Apps             4                4  2016  Sunnyvale     1
17   Apps             4                4  2016  Sunnyvale     1
18   Apps             4                3  2016  Sunnyvale     1
19   Apps             4                3  2016  Sunnyvale     1
20   Apps             4                5  2016  Sunnyvale     1
21   Apps             4                3  2016  Sunnyvale     1
22   Apps             4                3  2016  Sunnyvale     1
23   Apps             4                3  2016  Sunnyvale     1
24  Games             4                4  2016  Sunnyvale     1
25  Games             4                4  2016  Sunnyvale     1
26  Games             4                4  2016  Sunnyvale     1
27  Games             4                3  2016  Sunnyvale     1
28  Games             4                4  2016  Sunnyvale     1
29  Games             4                3  2016  Sunnyvale     1
..    ...           ...              ...   ...        ...   ...
32  Games             4                4  2016  Sunnyvale     1
33  Intro             4                4  2016  Sunnyvale     1
34  Intro             4                3  2016  Sunnyvale     1
35  Intro             4                4  2016  Sunnyvale     1
36  Intro             4                3  2016  Sunnyvale     1
37  Intro             4                4  2016  Sunnyvale     1
38  Intro             4                3  2016  Sunnyvale     1
39  Intro             4                3  2016  Sunnyvale     1
40  Intro             4                3  2016  Sunnyvale     1
41   Apps             5                3  2016  Sunnyvale     1
42   Apps             5                3  2016  Sunnyvale     1
43   Apps             5                3  2016  Sunnyvale     1
44   Apps             5                3  2016  Sunnyvale     1
45   Apps             5                3  2016  Sunnyvale     1
46   Apps             5                3  2016  Sunnyvale     1
47   Apps             5                4  2016  Sunnyvale     1
48   Apps             5                4  2016  Sunnyvale     1
49   Apps             5                3  2016  Sunnyvale     1
50   Apps             5                4  2016  Sunnyvale     1
51   Apps             5                4  2016  Sunnyvale     1
52  Games             5                4  2016  Sunnyvale     1
53  Games             5                2  2016  Sunnyvale     1
54  Games             5                3  2016  Sunnyvale     1
55  Games             5                4  2016  Sunnyvale     1
56  Intro             5                3  2016  Sunnyvale     1
57  Intro             5                2  2016  Sunnyvale     1
58  Intro             5                3  2016  Sunnyvale     1
59  Intro             5                3  2016  Sunnyvale     1
60  Intro             5                3  2016  Sunnyvale     1
61  Intro             5                3  2016  Sunnyvale     1

[62 rows x 6 columns]

In [31]:
df16 = pd.concat(df16, sort=True)

In [32]:
df16.head()

  Location Satisfaction Schedule Pacing Track  Week  Year
0   Taipei            3               3   NaN     7  2016
1   Taipei            4               3   NaN     7  2016
2   Taipei            4               3   NaN     7  2016
3   Taipei            4               4   NaN     7  2016
4   Taipei            5               4   NaN     7  2016

In [33]:
df = pd.concat([df16, df16week8, df17], sort=True)
df

,Location,Rating,Satisfaction,Schedule Pacing,Track,Week,Year
0,Taipei,NaN,3,3,NaN,7,2016
1,Taipei,NaN,4,3,NaN,7,2016
2,Taipei,NaN,4,3,NaN,7,2016
3,Taipei,NaN,4,4,NaN,7,2016
4,Taipei,NaN,5,4,NaN,7,2016
5,Taipei,NaN,4,3,NaN,7,2016
6,Taipei,NaN,4,3,NaN,7,2016
7,Taipei,NaN,5,3,NaN,7,2016
8,Taipei,NaN,5,3,NaN,7,2016
9,Taipei,NaN,5,3,NaN,7,2016
10,Taipei,NaN,3,3,NaN,7,2016
0,Tokyo,NaN,3,4,NaN,6,2016
1,Tokyo,NaN,4,3,NaN,6,2016
2,Tokyo,NaN,4,1,NaN,6,2016
3,Tokyo,NaN,4,2,NaN,6,2016
4,Tokyo,NaN,5,4,NaN,6,2016
5,Tokyo,NaN,3,3,NaN,6,2016
6,Tokyo,NaN,5,5,NaN,6,2016
7,Tokyo,NaN,4,2,NaN,6,2016
8,Tokyo,NaN,3,4,NaN,6,2016
9,Tokyo,NaN,5,3,NaN,6,2016
10,Tokyo,NaN,5,3,NaN,6,2016
11,Tokyo,NaN,4,4,NaN,6,2016
12,Tokyo,NaN,4,3,NaN,6,2016
0,Singapore,NaN,2,3,NaN,1,2016
1,Singapore,NaN,2,3,NaN,1,2016
2,Singapore,NaN,3,3,NaN,1,2016
3,Singapore,NaN,4,4,NaN,1,2016
4,Singapore,NaN,4,4,NaN,1,2016
5,Singapore,NaN,4,4,NaN,1,2016
...,...,...,...,...,...,...,...
1423,New York City,10,NaN,Just right,Games,7,2017
1424,New York City,8,NaN,Just right,Apps,7,2017
1425,New York City,9,NaN,Just right,Games,7,2017
1426,New York City,10,NaN,Just right,"Games, Explorer",7,2017
1427,New York City,9,NaN,Just right,Games,7,2017
1428,New York City,9,NaN,Just right,Apps,7,2017
1429,New York City,8,NaN,A little too fast,Apps,7,2017
1430,New York City,10,NaN,Just right,Games,7,2017
1431,New York City,10,NaN,Just right,Apps,7,2017
1432,New York City,9,NaN,Just right,Games,7,2017
1433,New York City,9,NaN,Just right,Apps,7,2017
1434,New York City,10,NaN,Just right,Apps,7,2017
1435,New York City,8,NaN,Just right,Apps,7,2017
1436,New York City,7,NaN,A little too fast,Apps,7,2017
1437,New York City,7,NaN,Way too fast,"Apps, Explorer",7,2017
1438,New York City,7,NaN,Just right,Apps,7,2017
1439,New York City,9,NaN,Just right,Apps,7,2017
1440,New York City,8,NaN,Just right,Apps,7,2017
1441,New York City,7,NaN,Just right,"Games, Explorer",7,2017
1442,New York City,10,NaN,Just right,"Apps, Explorer",7,2017
1443,New York City,10,NaN,Just right,"Apps, Explorer",7,2017
1444,New York City,9,NaN,A little too fast,Games,7,2017
1445,New York City,9,NaN,Just right,Apps,7,2017
1446,New York City,3,NaN,Just right,Apps,7,2017
1447,New York City,10,NaN,Just right,"Games, Explorer",7,2017
1448,New York City,10,NaN,Just right,"Apps, Explorer",7,2017
1449,New York City,8,NaN,Just right,"Apps, Explorer",7,2017
1450,New York City,10,NaN,Just right,Apps,7,2017
1451,New York City,1,NaN,A little too slow,"Apps, Explorer",7,2017
1452,New York City,8,NaN,Just right,Apps,5,2017

In [34]:
print("Data, so fresh and so clean!")

Data, so fresh and so clean!